@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 50px 40px 0 40px;
            grid-template-columns: repeat(2,415px);
            column-gap: 50px;
        }
    }
    .skills {
        &__wrapper {
            grid-template: repeat(3,minmax(270px,auto))/repeat(3,270px);
            justify-content: center;
        }
        &__loading {
            margin-top: 100px;
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,350px);
            justify-content: center;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 455px;
            justify-content: center;
            row-gap: 40px;
        }
    }
    .skills {
        &__wrapper {
            margin-top: 40px;
            grid-template: repeat(3,minmax(270px,auto))/repeat(3,minmax(230px,auto));
            padding: 0;
        }
        &__loading {
            margin-top: 60px;
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,335px);
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 0;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper { 
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .title {
        &__section {
            &-subtitle {
                font-size: 30px;
                margin-top: 0;
            }
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            padding: 40px 40px 0 40px;
        }
    }
    .skills {
        padding-top: 60px;
        &__wrapper {
            grid-template: repeat(4,minmax(270px,auto))/repeat(2,minmax(230px,auto));
        }
        &__loading {
            grid-template: repeat(6,minmax(70px,auto))/repeat(1,335px);
        }
    }
    .portfolio {
        padding-top: 40px;
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            margin-top: 20px;
            justify-content: center;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
           width: 250px; 
           padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .title {
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
            margin-top: 26px;
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            padding: 40px 0 0;
            grid-template-columns: 300px;
            row-gap: 10px;
        }
    }
    .divider {
        margin-top: 15px;
    }
    .skills {
        &__wrapper {
            margin-top: 20px;
            grid-template: repeat(7,minmax(270px,auto))/repeat(1,minmax(230px,auto));
            gap: 20px;
        }
        &__loading {
            margin-top: 40px;
            grid-template: repeat(6,minmax(70px,auto))/repeat(1,300px);
            row-gap: 40px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,295px);
        }
    }
}